.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    
}
.portfolio span{
    font-size: 40px;
    font-weight: bold;
    color:brown;
}

/* slider */

.portfolio .swiper{
    overflow: visible !important;
}
.portfolio-slider{
    margin-top: 3rem;
    width: 100%;
}
.portfolio-slider .swiper-slide {
    width: 3rem;
}
.portfolio img{
    width: 21rem;
    height: 12rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;

}